.Details, .DetailsHeader, .DetailsBody, .DetailsFooter {
    display: flex;
}

.Details {
    flex-direction: column;
    width: 100%;
    border-top: 1px solid royalblue;
}

.DetailsHeader {
    justify-content: flex-end;
}

.DetailsFooter {
    justify-content: flex-end;
    margin-bottom: 10px;
}