.Details, .DetailsHeader, .DetailsBody, .DetailsFooter {
    display: flex;
}

.Details {
    flex-direction: column;
    width: 100%;
    border-top: 1px solid royalblue;
}

.DetailsHeader {
    justify-content: flex-end;
}

.DetailsBody {
    padding: 10px 75px;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.DetailsFooter {
    justify-content: flex-end;
    padding: 10px 30px;
}

img {
    max-height: 300px;
}